[project]
	description = Local copy of dashboard app for CICD testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rkhpe
[access "refs/for/refs/*"]
	read = group user/rkhpe
	push = group user/rkhpe
	label-Code-Review = -2..+2 group user/rkhpe
	label-Verified = -1..+1 group user/rkhpe
	rebase = group user/rkhpe
	removeReviewer = group user/rkhpe
	submit = group user/rkhpe
[access "refs/heads/*"]
	read = group user/rkhpe
	create = group user/rkhpe
	push = +force group user/rkhpe
	pushMerge = group user/rkhpe
[access "refs/tags/*"]
	push = +force group user/rkhpe
	pushTag = group user/rkhpe
	pushSignedTag = group user/rkhpe
